/* General Layout */
.home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: #f9f9f9;
  }
  
  .profile-section {
  
    display: flex;
    justify-content: center;
  }
  
  .profile-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .content-section {
    flex: 1;
    max-width: 500px;
    padding: 0 20px;
  }
  
  .greeting {
    
    font-size: 5rem;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    color: #000000e9;
    margin: 1;
  }
  
  .about-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .about-description {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  /* Circular Buttons */
  .button-container {
    display: flex;
    gap: 30px;
  }
  
  .circle-btn {
    display: flex;
    border:1px solid rgb(10, 6, 6); 
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    transition: transform 0.3s ease;
  }
  
  .circle-btn:hover {
    transform: scale(1.1);
  }
  
  .resume-btn {
    background-color: #fbb034;
  }
  
  .projects-btn {
    background-color: #ff6347;
  }
  
  .contact-btn {
    background-color: #EE82EE;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
      text-align: center;
    }
  
    .content-section {
      padding: 20px 0;
    }
  
    .profile-image {
      width: 200px;
      height: 200px;
    }
  
    .button-container {
      justify-content: center;
      gap: 10px;
    }a
  
    .circle-btn {
      width: 90px;
      height: 90px;
      font-size: 1rem;
    }
  }
  